* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1EBFC1;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* --------- Common ------------ */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.heading-lv2 {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0D1111;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    word-break: break-all;
}


/* --------- Header ------------ */
.header {
    background-color: #fff;
}
.header.fixed {
    position: sticky;
    top: -56px;
    z-index: 1;
}
.header .body {
    padding: 64px 0 8px;
    display: flex;
    align-items: center;
}

.header .nav {
    margin-left: auto;
}

.header .nav .list {
    display: flex;
}

.nav .list a {
    padding: 8px 20px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2F3A3B;
}

.nav .list a.active ,
.nav .list a:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header .action {
    display: flex;
    margin-left: 157px;
}

.header .action a {
    padding: 8px 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #494949;
}

.header .action a:hover {
    font-weight: 600;
    padding: 8px 24px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    color: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}

/* --------- Hero ------------ */
.hero {
    margin: 53px 0;
}

.hero .body {
    display: flex;
}

.hero .content-block {
    margin-top: 93px;
    width: 46%;
}

.content-block .title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #767E7E;
}

.content-block .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    color: #0D1111;
}

.content-block .desc {
    margin-top: 46px;
    width: 374px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #9DA6A5;
}

.content-block .cta-group {
    display: flex;
    gap: 0 50px;
    margin-top: 52px;
}

.cta-group .btn {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 41px;
    background: var(--primary-color);
    border-radius: 14px;
}

.cta-group .watch {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero .media-block {
    position: relative;
    width: 56%;
    padding-left: 136px;
}

.media-block .thumb {
    display: block;
    width: 576px;
    height: 631px;
    object-fit: cover;
    background-color: aqua;
}

.media-block .courses {
    position: absolute;
    bottom: 407px;
    left: 90px;
    display: flex;
    align-items: center;
    gap: 0 16px;
    padding: 18px 25px;
    width: 157px;
    height: 75px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

.media-block .courses span {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0D1111;
}

.media-block .courses-icon {
    width: 36px;
    height: 40px;
}

.media-block .schedules {
    position: absolute;
    left: 62px;
    bottom: 46px;
    padding: 16px 25px;
    width: 124px;
    height: 132px;
    background: #FFFFFF;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.media-block .schedules span {  
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0D1111;
}

.media-block .schedules-icon {
    margin-top: 16px;
    width: 74px;
    height: 60px;
}

.media-block .active {
    position: absolute;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
    width: 207px;
    height: 90px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.media-block .active span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0D1111;
}

.media-block .avatar-group {
    margin-top: 8px;
    display: flex;
}

.media-block .avatar-group .avatar {
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.media-block .avatar-group span {
    margin-left: -7px;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: var(--primary-color);
    font-size: 1rem;
    text-align: center;
    line-height: 33px;
    color: #FFFFFF;
}

/* --------- Features ------------ */
.features {
    margin-top: 209px;
    background: #fff;
}

.features .content span {
    letter-spacing: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #767E7E;
}

.features .content h2 {
    margin-top: 18px;
    width: 577px;
}

.features .content .desc {
    margin-top: 18px;
    width: 590px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #767E7E;
}

.features .features-list {
    display: flex;
    justify-content: space-between;
    gap: 0 209px;
    margin-top: 80px;
}

.features-list .item .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: #0D1111;
}

.features-list .item .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: #9DA6A5;
}

.features-list .item:nth-child(2) .icon {
    background-color: #FF947A;
}

.features-list .item:nth-child(3) .icon {
    background-color: #BF83FF;
}

.features-list .item:nth-child(1) .desc {
    width: 168px;
}

.features-list .item:nth-child(2) .desc {
    width: 223px;
}

.features-list .item:nth-child(3) .desc {
    width: 224px;
}

.features-list .item .icon {
    font-size: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 106px;
    background: #FFC147;
    border-radius: 18px;
}

/* --------- Popular ------------ */
.popular {
    margin-top: 65px;
    padding: 65px 0;
}

.popular-top span {
    letter-spacing: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #767E7E;
}

.popular-top .heading-lv2 {
    margin-top: 18px;
}

.popular-top .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    width: 525px;
    margin-top: 19px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767E7E;
}

.popular-top .action {
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration-line: underline;
    color: var(--primary-color);
}

.popular .courses-list {
    margin-top: 79px;
    display: flex;
    gap: 0 47px;
}

.popular .courses-list .thumb:hover {
    opacity: 1;
}

.courses-list .list-item {
    position: relative;
    width: 33.33%;
}

.popular .courses-list .thumb {
    width: 359px;
    height: 393px;
    object-fit: cover;
    background: #D0EFED;
    opacity: 0.45;
    border-radius: 8px;
}

.popular .courses-list .info {
    position: absolute;
    left: 17px;
    bottom: -118px;
    padding: 18px 25px 29px;
    width: calc(100% - 34px);
    background: #fff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.popular .courses-list .title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3.3rem;
    color: #0D1111;
}

.popular .courses-list .price {
    display: block;
    margin-top: 16px;
    font-weight: 400;
    line-height: 2.4rem;
    color: #767E7E;
}

.popular .courses-list strong {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0D1111;
}

.popular .courses-list .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #9DA6A5;
}

.popular .foot {
    margin-top: 18px;
    gap: 0 16px;
    display: flex;
}

.popular .foot span {
    display: flex;
    gap: 0 10px;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #9DA6A5;
}

.popular .foot span::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

/* --------- Stats ------------ */
.stats {
    margin-top: 200px;
    padding: 65px 0;
}

.stats .body {
    display: flex;
    gap: 0 36px;
    justify-content: space-evenly;
}

.stats strong {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 9.3rem;
    text-align: center;
    color: #0D1111;
}

.stats .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    color: #767E7E;
}

/* --------- Feedback ------------ */
.feedback {
    margin-top: 199px;
}

.feedback .body {
    display: flex;
}

.feedback .content {
    width: 42%;
}

.feedback .blockquote {
    width: 419px;
    margin-top: 27px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5D6564;
}

.feedback .name {
    display: inline-block;
    margin-top: 33px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #767E7E;
}

.feedback strong {
    font-weight: 500;
    color: #070707;

}

.feedback .avatar {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .btn-group {
    margin-top: 52px;
    display: flex;
    gap: 0 30px;
}

.feedback .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}
.feedback .btn:hover {
    opacity: 0.9;
}

.feedback .avatar-block {
    width: 58%;
    position: relative;
}

.feedback .avatar-block img.avatar:nth-child(4) {
    position: absolute;
    right: 200px;
    top: 85px;
    width: 235px;
    height: 235px;
    border-radius: 50%;
}

.feedback img.avatar:nth-child(1) {
    position: absolute;
    right: 431px;
    top: -15px;
    width: 78px;
    height: 78px;
}

.feedback img.avatar:nth-child(2) {
    position: absolute;
    left: 0;
    bottom: 117px;
    width: 78px;
    height: 78px;
}

.feedback img.avatar:nth-child(3) {
    position: absolute;
    bottom: -50px;
    left: 234px;
    width: 78px;
    height: 78px;
}

.feedback img.avatar:nth-child(5) {
    position: absolute;
    right: 0;
    top: 5px;
}

.feedback img.avatar:nth-child(6) {
    position: absolute;
    right: 20px;
    bottom: 50px;
    width: 78px;
    height: 78px;
}

/* --------- Admit ------------ */
.admit {
    margin-top: 167px;
    background: #DEF6F5;
    padding: 76px 0 88px;
}

.admit .body {
    display: flex;
    align-items: center;
    gap: 0 410px;
}

.admit .desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #767E7E;
}

.admit .btn {
    width: 186px;
    height: 68px;
    background: var(--primary-color);
    border-radius: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
}

/* --------- Footer ------------ */
.footer {
    margin-top: 140px;
    padding-bottom: 65px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .row .title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #2E2E2E;
}

.footer .row .list {
    margin-top: 25px;
}

.footer .row li {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #535353;
}

.footer .column:last-child li {
    display: flex;
    align-items: center;
    gap: 0 13px;
}

.footer .copyright {
    margin-top: 80px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #B0B5B4;
    text-align: center;
}



